{% extends "layout.html" %}

{% block title %}
<title>The Midnight Times</title>
{% endblock %} 

{% block content %}
{% comment %} <body class="bg-gray-100 text-gray-900 dark:bg-gray-900 dark:text-gray-100"> {% endcomment %}
    <!-- NAVBAR STARTS HERE-->
    <div class="container mx-auto p-4">
        <nav class="navbar navbar-expand-lg navbar-dark bg-dark rounded-bottom">
          <div class="container-fluid">
            
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
              <span class="navbar-toggler-icon"></span>
            </button>
      
            <div class="collapse navbar-collapse justify-content-end" id="navbarSupportedContent">
              <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item">
                  <a class="nav-link active" aria-current="page" href="{% url 'keyword_list' %}">Notes Section</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="{% url 'search_history' %}">Keyword History</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="{% url 'signin' %}">Admin Panel</a>
                </li>
              </ul>
      
              {% comment %} {% if user.is_authenticated %}
                <form method="post" action="{% url 'logout' %}" class="d-flex">
                  {% csrf_token %}
                  <button type="submit" class="btn btn-danger ms-2">Logout</button>
                </form>
              {% endif %} {% endcomment %}
            </div>
          </div>
        </nav>
      </div>
      
        <!-- NAVBAR ENDS HERE-->
        
        <!-- MAIN HEADING-->
        <div class="text-center mb-4">
            <h1 class="display-2">
              <span class="text-gradient">THE MIDNIGHT TIMES</span>
            </h1>
          </div>
          
          
        
        <!-- FORM ELEMENTS -->
        <form method="get" action="" class="mb-4">
            <div class="row mb-4">
              <div class="col-md-8">
                <div class="input-group">
                  <input
                    type="text"
                    name="keyword"
                    placeholder="Enter keyword"
                    class="form-control form-control-lg"
                    aria-label="Keyword"
                  />
                  <button type="submit" class="btn btn-primary">
                    Search
                  </button>
                </div>
              </div>
              <div class="col-md-4 d-flex align-items-center justify-content-end">
                <button
                  type="button"
                  id="refreshButton"
                  class="btn btn-success me-2"
                >
                  Refresh
                </button>
                <select
                  name="language"
                  class="form-select form-select-sm me-2"
                  aria-label=".form-select-sm example"
                >
                  <option value="">All Languages</option>
                  <option value="ar">Arabic</option>
                  <option value="ge">German</option>
                  <option value="zh">Chinese</option>
                </select>
                <select
                  name="sortBy"
                  class="form-select form-select-sm me-2"
                  aria-label=".form-select-sm example"
                >
                  <option value="">None</option>
                  <option value="relevancy">Most Relevant</option>
                  <option value="popularity">Most Popular</option>
                  <option value="publishedAt">Newest</option>
                </select>
                <select
                  name="category"
                  class="form-select form-select-sm"
                  aria-label=".form-select-sm example"
                >
                  <option value="">All</option>
                  <option value="business">Business</option>
                  <option value="entertainment">Entertainment</option>
                  <option value="technology">Technology</option>
                </select>
              </div>
            </div>
            <div class="row mb-4">
              <div class="col-md-2">
                <input
                  type="date"
                  name="from_date"
                  class="form-control form-control-sm"
                  aria-label="From Date"
                />
              </div>
              <div class="col-md-2">
                <input
                  type="date"
                  name="to_date"
                  class="form-control form-control-sm"
                  aria-label="To Date"
                />
              </div>
            </div>
          </form>
          
          {% if keyword %}
          <p class="text-center mb-4">Showing results for: <span class="text-primary">{{ keyword }}</span></p>
          {% endif %}
          
          <!-- Buttons for sort -->
          <div class="d-flex justify-content-center mb-4">
            <button id="sortToggleButton" class="btn btn-outline-success">
              Sort <span id="sortArrow">&#9650;</span>
            </button>
          </div>
          
        
        <!-- NEWS CARDS START HERE -->
        <div class="row row-cols-1 row-cols-md-2 row-cols-lg-4 g-4">
            {% for article in articles %}
              <div class="col mb-4">
                <div class="card border-0 rounded-lg shadow-lg">
                  {% if article.urlToImage %}
                    <img src="{{ article.urlToImage }}" alt="Article Image" class="card-img-top rounded-top">
                  {% else %}
                    <img src="" alt="Placeholder Image" class="card-img-top rounded-top">
                  {% endif %}
                  <div class="card-body" style="height: 350px; overflow: hidden;">
                    <h2 class="card-title h5 mb-3">{{ article.title | default:'No title available' }}</h2>
                    <p class="card-text text-muted mb-2">Author: {{ article.author | default:'Unknown' }}</p>
                    <p class="card-text mb-3">{{ article.description | default:'No description available' }}</p>
                    <p class="card-text mb-3">{{ article.content | default:'No content available' }}</p>
                    <a href="{{ article.url | default:'#' }}" target="_blank" class="btn btn-primary">Read more</a>
                  </div>
                  <div class="card-footer bg-transparent border-top-0 text-muted small">
                    Published at: {{ article.publishedAt | default:'Unknown date' }}
                  </div>
                </div>
              </div>
            {% endfor %}
          </div>
          
          
          
          


    <script>
        // REFRESH BUTTON
        document.getElementById('refreshButton').addEventListener('click', function(event) {
            event.preventDefault();  // Prevent the form from submitting immediately
        
            // Get current URL parameters
            const urlParams = new URLSearchParams(window.location.search);
        
            // Update refresh parameter
            urlParams.set('refresh', 'true');
        
            // Update from_date and to_date based on current selection or last fetched date
            const fromDateInput = document.querySelector('input[name="from_date"]');
            const toDateInput = document.querySelector('input[name="to_date"]');
            const currentDate = new Date().toISOString().split('T')[0];  // Today's date in YYYY-MM-DD format
        
            // Set from_date to current date or existing value if it's earlier than the current date
            if (!fromDateInput.value || fromDateInput.value < currentDate) {
                fromDateInput.value = currentDate;
                urlParams.set('from_date', currentDate);
            }
        
            // Set to_date to current date or existing value if it's earlier than the current date
            if (!toDateInput.value || toDateInput.value < currentDate) {
                toDateInput.value = currentDate;
                urlParams.set('to_date', currentDate);
            }
        
            // Update the URL with new parameters
            window.location.search = urlParams.toString();
        });
        

        // SORT BY TOGGLE 
        document.getElementById('sortToggleButton').addEventListener('click', function() {
            const urlParams = new URLSearchParams(window.location.search);
            const currentSort = urlParams.get('sort');
            
            // Toggle between ascending and descending sort
            const newSort = currentSort === 'date_asc' ? 'date_desc' : 'date_asc';
            urlParams.set('sort', newSort);
    
            // Update button arrow
            const arrow = document.getElementById('sortArrow');
            arrow.innerHTML = newSort === 'date_asc' ? '&#9650;' : '&#9660;';
            
            window.location.search = urlParams.toString();
        });
    
        // Initialize button arrow based on the current sort order
        window.addEventListener('load', function() {
            const urlParams = new URLSearchParams(window.location.search);
            const currentSort = urlParams.get('sort');
            const arrow = document.getElementById('sortArrow');
            
            if (currentSort === 'date_desc') {
                arrow.innerHTML = '&#9660;';
            } else {
                arrow.innerHTML = '&#9650;';
            }
        });
    </script>
    
{% endblock %}
