{% extends "layout.html" %}

{% block content %}

{% block title %}
<title>Admin Panel</title>

{% endblock %}

<div class="container mt-3">
    <h1>Admin Panel</h1>

    <table class="table table-bordered table-hover">
      <thead>
        <tr>
          <th scope="col">Username</th>
          <th scope="col">Email</th>
          <th scope="col">Block/Unblock</th>
          <th scope="col">Keyword Limit</th>
          <th scope="col">Action</th>
        </tr>
      </thead>
      <tbody>
        {% for user in users %}
          <tr>
            <td>{{ user.username }}</td>
            <td>{{ user.email }}</td>
            <td>
              <form method="POST" action="{% url 'block_user' user.pk %}">
                {% csrf_token %}
                {% if user.is_active %}
                  <button type="submit" class="btn btn-sm btn-danger">Block</button>
                {% else %}
                  <button type="submit" class="btn btn-sm btn-success">Unblock</button>
                {% endif %}
              </form>
            </td>
            <td>{{ user.keyword_limit }}</td>
            <td>
              <form method="POST" action="{% url 'set_limit' user.pk %}">
                {% csrf_token %}
                <div class="input-group input-group-sm">
                  <input type="number" name="limit" min="1" required class="form-control">
                  <button type="submit" class="btn btn-sm btn-primary">Set Limit</button>
                </div>
              </form>
            </td>
          </tr>
        {% endfor %}
      </tbody>
    </table>
    <a href="{% url 'keyword_list' %}" class="btn btn-primary">Go back</a>
  </div>
{% endblock %}