{% extends "layout.html" %}

{% block title %}
Keyword Page
{% endblock %}

{% block content %}

<h1 class="text-center mt-4">Keywords Page</h1>

<div class="d-flex justify-content-between align-items-center mt-3">
  <a href="{% url 'keyword_create' %}" class="btn btn-primary">Add a Keyword</a>
  <a href="{% url 'home' %}" class="btn btn-success">Back to Home</a>
  <a href="{% url 'signin' %}" class="btn btn-warning">Admin Panel</a>
</div>

<div class="container mt-4">
  <div class="row row-cols-1 row-cols-md-3 g-3">
    {% for keyword in keywords %}
    <div class="col">
      <div class="card">
        <div class="card-body">
          <h5 class="card-title">{{ keyword.text }}</h5>
          {% if keyword.user == user %}
          <a href="{% url 'keyword_delete' keyword.id %}" class="btn btn-danger">Delete</a>
          {% endif %}
        </div>
      </div>
    </div>
    {% endfor %}
  </div>
</div>

{% endblock %}
