{% extends "layout.html" %}

{% block title %}
Keyword Page
{% endblock %}

{% block content %}

<h1 class="text-center  mt-4">Keywords Page</h1>

<a class="btn btn-primary mb-4" href="{% url 'tweet_create' %}">Add a Keyword</a>
<div class="container row gap-3">
  {% for tweet in  tweets %}
  <div class="card" style="width: 18rem;">
    <div class="card-body">
      <h5 class="card-title">{{tweet.text}}</h5>
      {% if tweet.user == user %}
      <a href="{% url 'tweet_delete' tweet.id%}" class="btn btn-danger">Delete</a>
      {% endif %}
    </div>
  </div>
  {% endfor %}
</div>


{% endblock %}